<!DOCTYPE html>
<html>
<head>
  <title>Magic 8-Ball</title>
  <!-- Mitch Dempsey -->
  <style>
  body,html {margin:0;padding:0;background-color:#000;}
  h1{margin:0;}
  #container{position: absolute;top: 50%;margin-top: -24px;left: 0;width: 100%;}
  #content {width: 624px;margin-left: auto;margin-right: auto;height: 48px;font-size:24px;text-align:center;font-family:Helvetica,Verdana,Arial,sans-serif;color:#fff;}
  </style>
  
  <% if ENV.has_key?('GA_ACCOUNT') %>
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', "<%= ENV['GA_ACCOUNT']%>");
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  </script>
  <% end %>
</head>
<body><div id="container"><div id="content"><h1><%= @answer %></h1></div></div></body>
</html>